@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.loading {
    position: relative;
    background: #2C2F33;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-family: 'Roboto';

    .load {
        border: 10px solid transparent;
        border-radius: 50%;
        border-top: 10px solid #7289DA;
        width: 150px;
        height: 150px;
        -webkit-animation: load 1s linear infinite; /* Safari */
        animation: load 1s linear infinite;
    }

    #r-phrasing {
        margin-top: 35px;
    }

    @-webkit-keyframes load {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes load {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
