#loading-section {
	background-image: var(--loading-bg-img);
	background-repeat: var(--loading-bg-repeat);
	background-size: var(--loading-bg-size);
	width:100vw;
	height:100vh;
    backdrop-filter: var(--loading-bkp-filter);
    z-index:3;
}
a{
	padding: var(--a-padding);
}
body {
	background-color: var(--body-bg-color);
	margin: var(--body-margin);
	font-family: var(--body-font-family);
}

section {
	position: var(--section-position);
	transition: var(--section-transition);
}

	.title{
		color: var(--title-color);
		font-size: var(--title-size);
		font-weight: var(--title-weigth);
		text-align: var(--title-align);
		line-height: var(--title-line-height);
		font-family: var(--title-font-family);
	}

	.download-extension-title{
		font-size: var(--download-title-size);
		flex: var(--download-title-flex);
		text-align: var(--download-title-align);
		color: var(--download-title-color);
		font-family: var(--download-title-font-family);
	}

.subtitle{
	color: var(--subtitle-color);
	font-size: var(--subtitle-size);
	text-align: var(--subtitle-align);
	font-family: var(--download-title-font-family);
}

.white{
	color: var(--white-color);
}
.center{
	display: var(--center-display);
	justify-content: var(--center-justify-content);
	align-items: var(--center-align-items);
}
.all-screen-size{
	width:100vw;
	height:100vh;
}

.menu-div{
	width: var(--sidenav-width);
	background-color: var(--sidenav-bg-color);
	transition: var(--sidenav-transition);
	height:100vh;
	z-index:2;
	position: var(--sidenav-postion);
}
.menu-div-close{
	margin-left: var(--sidenav-width-close);
}



.menu-div-open{
	margin-left: var(--sidenav-width-open);
}



#loading-section-title{
	transition: var(--loading-title-transition);
	margin-top: var(--loading-title-mgt);
	opacity: var(--loading-title-opacity);
}

#my-bots-placement{
	width: var(--bots-pl-width);
	margin-left: var(--bots-pl-mgl);
}

.list-background{
	background-color: var(--list-bg-color);
	background-image: var(--list-bg-img);
	background-position: var(--list-bg-position);
	background-repeat: var(--list-bg-repeat);
	background-size: var(--list-bg-size);
}

.bot-menu-btn {
	width: var(--bot-btn-width);
	height: var(--bot-btn-height);
	border-radius: var(--bot-btn-border-r);
	border-style: var(--bot-btn-border-s);
	border-color: var(--bot-btn-border-color);
	float: var(--bot-btn-float);
	margin-right: var(--bot-btn-mgr);
	margin-top: var(--bot-btn-mgt);
	background-color: var(--bot-btn-bg-color);
	transition: margin-top 0.5s;
}

.bot-menu-btn:hover {
	margin-top: var(--bot-btn-mgt_hover);
}

#update-extension-btn {
	width: var(--update-ext-btn-width)!important;
}

.avatar{
	border-radius: var(--avatar-border-r);
}

.text-color{
	color: var(--text-color-color);
}

.bot-menu-btn div img {
	width: var(--bot-btn-img-width);
	height: var(--bot-btn-img-height);
}

.bot-menu-btn div {
	text-align: var(--bot-btn-div-text-align);
}

.bot-menu-btn-no-color{
	border-style: var(--bot-btn-none-border-s);
}

#main-menu-button-activation{
	margin-left: var(--main-btn-active-mgl);
	margin-top: var(--main-btn-active-mgt);
	position: var(--main-btn-active-postion);
	z-index:1;
}

.parameters-button-opener{
	width: var(--para-btn-open-width);
	height: var(--para-btn-open-heigth);
	margin-left: var(--para-btn-open-mgl);
	border-radius: var(--para-btn-open-border-r);
	border: var(--para-btn-open-border);
	background-color: var(--para-btn-open-bg-color);
	
	float: var(--para-btn-open-float);
}

.parameters-button-opener p{
	color: var(--para-btn-open-p-color);
	text-align: var(--para-btn-open-p-txt-align);
	font-size: var(--para-btn-open-p-fs);
	margin-top: var(--para-btn-open-p-mgt);
}

.parameters-button-opener img{
	width: var(--para-btn-open-img-width);
	margin-top: var(--para-btn-open-img-mgt);
}

#black-blur-background{
	position: var(--black-blur-bg-position);
	z-index:2;
	transition: var(--black-blur-bg-transition);
	opacity: var(--black-blur-bg-opacity);
	display: var(--black-blur-bg-display);
	background-color: var(--black-blur-bg-bg-color);
	width:100vw;
	height:100vh;
}

#add-bot-section {
	position: var(--add-bot-section-position);
	z-index:3;
	display: var(--add-bot-section-display);
	width:100vw;
	height:100vh;
}

.add-bot-div{
	position: var(--add-bot-div-position);
	width:400px;
	margin-top: var(--add-bot-div-mgt);
	opacity: var(--add-bot-div-opacity);
	background-color: var(--add-bot-div-bg-color);
	border-radius: var(--add-bot-div-border-r);
	transition: var(--add-bot-div-transition);
}

#uninstall-extension-main-div{
	position: var(--uninstall-extension-position);
	width: var(--uninstall-extension-width);
	margin-top: var(--uninstall-extension-mgt);
	opacity: var(--uninstall-extension-opacity);
	background-color: var(--uninstall-extension-bg-color);
	border-radius: var(--uninstall-extension-border-r);
	transition: var(--uninstall-extension-transition);
}

#delete-bot-main-div{
	position: var(--delete-bot-position);
	width: var(--delete-bot-width);
	margin-top: var(--delete-bot-mgt);
	opacity: var(--delete-bot-opacity);
	background-color: var(--delete-bot-bg-color);
	border-radius: var(--delete-bot-border-r);
	transition: var(--delete-bot-transition);
}

.footer{
	margin-top: var(--footer-mgt);
	text-align: var(--footer-txt-align);
	display: var(--footer-display);
	flex-direction: var(--footer-flex-direction);
	border-radius: var(--footer-border-r);
	background-color: var(--footer-bg-color);
	padding: var(--footer-padding);
}

#connect-btn{
	opacity: var(--connect-btn-opacity);
	transition: var(--connect-btn-transition);
}

.disappear{
	opacity: var(--disappear-opacity);
}

#connect-title{
	margin-top: var(--connect-title-mgt);
	margin-bottom: var(--connect-title-mgb);
}

#connect-section{
	width: var(--connect-section-width);
	height: var(--connect-section-height);
	text-align:  var(--connect-section-txt-align);
	position: var(--connect-section-position);
}

.input-group-text{
	background-color: var(--input-group-text-bg-color);
	border-color: var(--input-group-text-border-color);
	color: var(--input-group-text-color);
}

.form-control:disabled, .form-control[readonly] {
	background-color: var(--form-control_disabled-bg-color);
}

.form-control{
	color: var(--form-control-color);
	background-color: var(--form-control-bg-color);
	border-color:  var(--form-control-border-color);
}

.form-control:focus{
	color: var(--form-control_focus-color);
	background-color: var(--form-control_focus-bg-color);
}

.extension-in-line{
	width: var(--extension-line-width);
	padding: var(--extension-line-padding);
	display: var(--extension-line-display);
	background-color: var(--extension-line-bg-color);
	margin-bottom: var(--extension-line-mgb);
  }
  
  .extension-in-line .left-part{
	flex: var(--extension-line-left-flex);
  }
  
  .extension-in-line button{
	padding:3px;
	margin-bottom:5px;  
	width:110px;
  }
  
  .extension-in-line p{
	color: var(--extension-line-p-color);
	display: var(--extension-line-p-display);
  }
  
  .extension-in-line img{
	height: var(--extension-line-img-heigth);
  }

#update-extension-section {
	position: var(--update-extension-section-position);
	z-index: var(--update-extension-section-z-index);
	display: var(--update-extension-section-display);
	width: var(--update-extension-section-width);
	height: var(--update-extension-section-height);
}

#uninstall-extension-section {
	position: var(--uninstall-extension-section-position);
	z-index: var(--uninstall-extension-section-z-index);
	display: var(--uninstall-extension-section-display);
	width: var(--uninstall-extension-section-width);
	height: var(--uninstall-extension-section-height);
}

#delete-bot-section {
	position: var(--delete-bot-section-position);
	z-index: var(--delete-bot-section-z-index);
	display: var(--delete-bot-section-display);
	width: var(--delete-bot-section-width);
	height: var(--delete-bot-section-height);
}

#add-extension-section {
	position: var(--add-extension-section-position);
	z-index: var(--add-extension-section-z-index);
	display: var(--add-extension-section-display);
	width: var(--add-extension-section-width);
	height: var(--add-extension-section-height);
}

.popup-div{
	z-index: var(--popup-div-z-index);
	position: var(--popup-div-position);
	width: var(--popup-div-width);
	height: var(--popup-div-height);
	margin-top: var(--popup-div-mgt);
	opacity: var(--popup-div-opacity);
	background-color: var(--popup-div-bg-color);
	border-radius: var(--popup-div-border-r);
	transition: var(--popup-div-transition);
}

.popup-long-div{
	z-index: var(--popup-long-div-z-index);
	position: var(--popup-long-div-position);
	width: var(--popup-long-div-width);
	height: var(--popup-long-div-height);
	margin-top: var(--popup-long-div-mgt);
	opacity: var(--popup-long-div-opacity);
	background-color: var(--popup-long-div-bg-color);
	border-radius: var(--popup-long-div-border-r);
	transition: var(--popup-long-div-transition);
}

.popup-div h3{
	text-align: var(--popup-div-h3-text-align);
	margin-top:  var(--popup-div-h3-mgt);
	margin-left: var(--popup-div-h3-mgl);
}

.add-extension-confirmation-div{
	display: var(--add-extension-conf-display);
	position: var(--add-extension-conf-position);
	width: var(--add-extension-conf-width);
	height: var(--add-extension-conf-height);
	margin-top: var(--add-extension-conf-mgt);
	opacity: var(--add-extension-conf-opacity);
	background-color: var(--add-extension-conf-bg-color);
	border-radius: var(--add-extension-conf-border-r);
	transition: var(--add-extension-conf-transition);
}

.add-extension-confirmation-div h3{
	text-align: var(--add-extension-conf-h3-text-align);
	margin-top: var(--add-extension-conf-h3-mgt);
}

.add-extension-confirmation-div p{
	text-align: var(--add-extension-conf-p-text-align);
	margin-top: var(--add-extension-conf-p-mgt);
}

#bot-extensions-list{
	height: var(--bot-extensions-list-height);
	overflow-y: var(--bot-extensions-list-overflow-y);
	background-color: var(--bot-extensions-list-bg-color);
}

#context-menu {
	position: var(--context-menu-postion);
	width: var(--context-menu-width);
	background-color: var(--context-menu-bg-color);
	border-radius: var(--context-menu-border-r);
	padding: var(--context-menu-padding);
	z-index: var(--context-menu-z-index);
}

.context-menu-div div{
	width: var(--context-menu-div-width);
	color: var(--context-menu-div-color);
	padding: var(--context-menu-div-padding);
	border-radius: var(--context-menu-div-border-r);
}

.context-menu-div div:hover{
	width: var(--context-menu-div_hover-width);
	color: var(--context-menu-div_hover-color);
	background-color: var(--context-menu-div_hover-bg-color);
	cursor:  var(--context-menu-div_hover-cursor);
}

.context-menu-div .red{
	width:100%;
	color:#f04747;
}

.context-menu-div .red:hover{
	width:100%;
	color:white;
	background-color:#f04747
}

#extension-update-placement{
	width:550px;
	margin-left: 25px;
	overflow-y:scroll;
	max-height: 500px;
	color:white;
}

#extension-uninstall-placement{
	width:100%;
	padding:10px;
	color:white;
}

#delete-bot-placement{
	width:100%;
	padding:10px;
	color:white;
}

#extension-available-placement{
	width:350px;
	margin-left: 25px;
	overflow-y:scroll;
	max-height: 450px;
}

.add-bot-div div{
	text-align: center;
}

.add-bot-div div h3 {
	margin-bottom:30px;
}


#main-menu-section {
	position:fixed;
	z-index:2;
}

.input-center-reduce {
	width:80%;
	margin-left:10%;
}

.btn-primary{
	background-color:#7289da;
	border-color:#7289da ;
}

.btn-primary:hover{
	background-color:#6274b8;
	border-color:#6274b8 ;
}

.input-error{
	border-color:red;
}


.edit-extension-img {
	width:50px !important;
	margin-top:200px !important;
	margin-left:175px !important;
	cursor: pointer;
}


iframe {
	border-width:0px;
	width:100vw;
	height:100%;
}

.extension-bot-menu-btn{
	width:400px;
	margin-left:25px;
	margin-right:25px;
	height:200px;
	background-color:#23272a;
	border-radius:10px;
	margin-top:20px;
	float: left;
	transition:0.5s;
	overflow:hidden;
	position:relative;
	cursor: pointer;
	transition:0.5s;
}


.extension-bot-menu-btn:hover{
	background-color:#222427
}

.tremble {
	animation-iteration-count: infinite;
  	animation-direction: alternate;
	animation-duration: 0.3s;
	animation-name: trembleAnimation;
  }
  
  @keyframes trembleAnimation {
	from {
	  	transform:rotate(0deg);
	}
	25%{
		transform:rotate(3deg);
	}
	75%{
		transform:rotate(-3deg);
	}
	to {
		transform:rotate(0deg);
	}
  }

  #fixed-section{
	  
	position: absolute;
    width: 100vw;
    height: 0px;
	align-items:unset;
  }

#indicator-active-mode{
	padding: 10px 10px 10px 16px;
	width:500px;
	height:56px;
	background-color: rgba(32, 34, 37, 0.9);
	border-radius:5px;
	margin-top:100vh;
	transition: 0.5s;
	font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#indicator-active-mode.active{
	transform: translateY(-66px);
}

.extension-bot-menu-btn label{
	position:absolute;
	margin-top:225px;
	margin-left:355px;
}

.extension-bot-menu-btn span{
	border-radius:50%;
	width:10px;
	height:10px;
	margin-top:10px;
	position:absolute;
	margin-left:10px;
	background-color:red;
	display:none;
}

.extension-bot-menu-btn span{
	border-radius:50%;
	width:10px;
	height:10px;
	margin-top:10px;
	position:absolute;
	margin-left:10px;
	background-color:red;
	display:none;
}

.extension-bot-menu-btn.inactive span{
	display:block;
}

.extension-bot-menu-btn-no-color{
	border:dashed;
	background-color:#23272a;
}

.extension-available-menu-btn div{
	width:200px;
}

.extension-bot-menu-btn img{
	width:100px;
	margin-top:50px;
	position:absolute;
}

.extension-bot-menu-btn div{
	position:absolute;
	margin-left:110px;
	width:290px;
}

.extension-bot-menu-btn h3{
	width:290px;
	text-align: left;
	color:white;
	margin-top:40px;
}


.extension-bot-menu-btn-no-color h3{
	color:white;
	position:absolute;
	margin-top:80px;
	margin-left:110px;
}

.extension-bot-menu-btn p{
	width:290px;
	color:white
}

.button-center-reduce {
	width:60%;
	
}

.add-bot-img {
	width:70px;
	height:70px;
	border-radius: 50%;
	
}

.extension-available-menu-btn{
	width:100%;
	margin-top:10px;
	display:-webkit-inline-box;
	background-color: #23272a;
	border-radius: 10px;
}

.extension-available-menu-btn img{
	width:50px;
}

.extension-available-menu-btn div{
	width:265px;
}

.extension-available-menu-btn p{
	color:white;
}

.extension-available-menu-btn h3{
	text-align:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	color:white;
}



#bot-heberg-div{
	width:100vw;
	height:100px;
	background-color:#23272a;
}

#bot-heberg-div img{
	height:70px;
	margin-top:15px;
	position:absolute;
	margin-left:80px;
}

#bot-heberg-div h3{
	position:absolute;
	margin-left:165px;
	margin-top:30px;
	color:white;
}

#bot-heberg-div div button{
	width:120px;
	height:60px;
	margin-top:20px;
	margin-right:10px;
}

#bot-heberg-div div{
	position:absolute;
	text-align:right;
	width:100vw;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgb(52, 201, 47);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px rgb(52, 201, 47);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
  }
  
  .slider.round {
	border-radius: 22px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
   .inactive p{
		text-decoration: line-through;
	}
	.inactive h3{
		text-decoration: line-through;
	}

  
   
.main-menu-button {
	background-color:#4e4e4e;
	border-radius:5px;
	color:white;
	width:60%;
	margin-left:20%;
	height:50px;
	margin-top:20px;
	cursor: pointer;
}

.sub-menu-button {
	background-color:#4e4e4e;
	border-radius:5px;
	color:white;
	width:20%;
	margin-left:20%;
	height:50px;
	margin-top:20px;
	cursor: pointer;
}

.sub-menu-button img{
	height:40px !important;
	position:absolute !important;
	width:unset !important;
	margin-left:5px !important;
	margin-top:5px;
	border-radius:unset !important;
}

#main-menu-quit-button{
	cursor:pointer;
}

#main-menu-button-activation{
	cursor:pointer;
}

.main-menu-button img{
	height:40px !important;
	position:absolute !important;
	width:unset !important;
	margin-left:5px !important;
	margin-top:5px;
	border-radius:unset !important;
}

.main-menu-button h4{
	height: 50px;
    position: absolute;
    margin-left: 40px;
    width: 130px;
	text-align: center;
	margin-top:10px;
}

.token-modify-input{
	width:60%;
	margin-left:20%;
	text-align:center;
}

.token-modify-input{
	margin-bottom: 30px;
}

#botActiveMenuSection img{
	width:40%;
	margin-left:30%;
	border-radius:50%;
}

#botActiveMenuSection h3{
	width:100%;
	text-align:center;
}

h3 {
	text-align:center;
}

.txt3 {
	font-size: 11px;
	color: white;
	text-align: left;
  }

  .dark-background{
	  background-color: #2C2F33;
  }

  #bot-select-section{
	  background-color:#2C2F33
  }