#loading-section {
	background-image: url("../files/images/background.jpg");
	background-repeat:repeat;
	background-size: auto;
	width:100vw;
	height:100vh;
    backdrop-filter: blur(5px);
    z-index:3;
}
a{
	padding:7px;
}
body {
	background-color:#2c2f33;
	margin:0px;
}

section {
	position:absolute;
	transition: 1s;
}

	.title{
		color:white;
		font-size:35px;
		text-align:center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.download-extension-title{
		font-size:20px;
		flex:1;
		text-align:center;
		color:white;
		font-family: Arial, Helvetica, sans-serif;
	}

.subtitle{
	color:rgb(211, 209, 209);
	font-size:20px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}

.white{
	color:white;
}
.center{
	display:flex;
	justify-content:center;
	align-items:center;
}
.all-screen-size{
	width:100vw;
	height:100vh;
}

.menu-div{
	width:300px;
	background-color:#2f3136;
	transition:0.5s;
	height:100vh;
	z-index:2;
	position:absolute;
}
.menu-div-close{
	margin-left:-300px;
}



.menu-div-open{
	margin-left:0px;
}



#loading-section-title{
	transition: 0.7s;
	margin-top:20vh;
	opacity:0;
}

#my-bots-placement{
	width:90%;
	margin-left:5%;
}

.list-background{
	background-color:#2c2f33
}

.bot-menu-btn {
	width:100px;
	height:150px;
	border-radius:10px;
	border-style:solid;
	border-color:#1b1b1b;
	float: left;
	margin-right: 10px;
	margin-top:10px;
	background-color:#23272a;
	transition: margin-top 0.5s;
}

.bot-menu-btn:hover {
	margin-top:0px;
}

#update-extension-btn {
	width:60px!important;
}

.avatar{
	border-radius:50%
}

.text-color{
	color:white;
}

.bot-menu-btn div img {
	width:50px;
	height:50px;
}

.bot-menu-btn div {
	text-align: center;
}

.bot-menu-btn-no-color{
	border-style:dashed;
}

#main-menu-button-activation{
	margin-left:10px;
	margin-top:10px;
	position:absolute;
	z-index:1;
}

.parameters-button-opener{
	width:180px;
	height:180px;
	margin-left:10px;
	border-radius: 10px;
	border-width:1px;
	border-style:solid;
	border-color: #191c1f;
	background-color:#23272a;
	
	float: left;
}

.parameters-button-opener p{
	color:white;
}

.parameters-button-opener img{
	width:80px;
	margin-top:5px;
}

.parameters-button-opener p{
	text-align:center;
	font-size:20px;
	margin-top:20px;
}

#black-blur-background{
	position:fixed;
	z-index:2;
	transition:1s;
	opacity:0;
	display:none;
	background-color:black;
	width:100vw;
	height:100vh;
}

#add-bot-section {
	position:fixed;
	z-index:3;
	display:none;
	width:100vw;
	height:100vh;
}

.add-bot-div{
	position:absolute;
	width:400px;
	margin-top:250px;
	opacity:0;
	background-color: #36393f;
	border-radius:10px;
	transition:0.8s;
}

#uninstall-extension-main-div{
	position:absolute;
	width:400px;
	margin-top:250px;
	opacity:0;
	background-color: #36393f;
	border-radius:10px;
	transition:0.8s;
}

#delete-bot-main-div{
	position:absolute;
	width:400px;
	margin-top:250px;
	opacity:0;
	background-color: #36393f;
	border-radius:10px;
	transition:0.8s;
}

.footer{
	margin-top:16px;
	text-align:right;
	margin-top:16px;
	display:flex;
	flex-direction:row-reverse;
	border-radius:0px 0px 5px 5px;
	background-color:#2f3136;
	padding:15px;
}

#connect-btn{
	opacity:1;
	transition:0.2s;
}

.disappear{
	opacity: 0!important;
}

#connect-title{
	margin-top:20vh;
	margin-bottom: 10vh;
}

#connect-section{
	width:100vw;
	height:100vh;
	text-align: center;
	position:absolute;
}

.input-group-text{
	background-color:#25282b;
	border-color:#16191b;
	color:white;
}

.form-control:disabled, .form-control[readonly] {
	background-color:#202225;
}

.form-control{
	color:#dcddde;
	background-color:#202225;
	border-color: #191c1f;
}

.form-control:focus{
	color:#dcddde;
	background-color:#202225;
}

.extension-in-line{
	width:100%;
	padding:5px;
	display:flex;
	background-color: #191c1f;
	margin-bottom:5px;
  }
  
  .extension-in-line .left-part{
	flex:1
  }
  
  .extension-in-line button{
	padding:3px;
	margin-bottom:5px;  
	width:110px;
  }
  
  .extension-in-line p{
	color:white;
	display:unset
  }
  
  .extension-in-line img{
	height:72px;
  }

#update-extension-section {
	position:fixed;
	z-index:3;
	display:none;
	width:100vw;
	height:100vh;
}

#uninstall-extension-section {
	position:fixed;
	z-index:3;
	display:none;
	width:100vw;
	height:100vh;
}

#delete-bot-section {
	position:fixed;
	z-index:3;
	display:none;
	width:100vw;
	height:100vh;
}

#add-extension-section {
	position:fixed;
	z-index:3;
	display:none;
	width:100vw;
	height:100vh;
}

.popup-div{
	z-index:5;
	position:absolute;
	width:400px;
	height:600px;
	margin-top:250px;
	opacity:0;
	background-color: #2c2f33;
	border-radius:10px;
	transition:0.8s;
}

.popup-long-div{
	z-index:5;
	position:absolute;
	width:600px;
	height:600px;
	margin-top:250px;
	opacity:0;
	background-color: #2c2f33;
	border-radius:10px;
	transition:0.8s;
}

.popup-div h3{
	text-align:center;
	margin-top: 10px;
	margin-left:10px;
}

.add-extension-confirmation-div{
	display:none;
	position:absolute;
	width:400px;
	height:250px;
	margin-top:250px;
	opacity:0;
	background-color: white;
	border-radius:10px;
	transition:0.8s;
}

.add-extension-confirmation-div h3{
	text-align:center;
	margin-top: 10px;
}

.add-extension-confirmation-div p{
	text-align:center;
	margin-top: 10px;
}

#bot-extensions-list{
	height:590px;
	overflow-y:scroll;
	background-color: #2c2f33;
}

#context-menu {
	position:fixed;
	width:150px;
	background-color:#191c1f;
	border-radius:5px;
	padding:10px;
	z-index:5
}

.context-menu-div div{
	width:100%;
	color:white;
	padding:10px;
	border-radius:5px;
}

.context-menu-div div:hover{
	width:100%;
	color:white;
	background-color:#6274b8;
	cursor: pointer;
}

.context-menu-div .red{
	width:100%;
	color:#f04747;
}

.context-menu-div .red:hover{
	width:100%;
	color:white;
	background-color:#f04747
}

#extension-update-placement{
	width:550px;
	margin-left: 25px;
	overflow-y:scroll;
	max-height: 500px;
	color:white;
}

#extension-uninstall-placement{
	width:100%;
	padding:10px;
	color:white;
}

#delete-bot-placement{
	width:100%;
	padding:10px;
	color:white;
}

#extension-available-placement{
	width:350px;
	margin-left: 25px;
	overflow-y:scroll;
	max-height: 450px;
}

.add-bot-div div{
	text-align: center;
}

.add-bot-div div h3 {
	margin-bottom:30px;
}


#main-menu-section {
	position:fixed;
	z-index:2;
}

.input-center-reduce {
	width:80%;
	margin-left:10%;
}

.btn-primary{
	background-color:#7289da;
	border-color:#7289da ;
}

.btn-primary:hover{
	background-color:#6274b8;
	border-color:#6274b8 ;
}

.input-error{
	border-color:red;
}


.edit-extension-img {
	width:50px !important;
	margin-top:200px !important;
	margin-left:175px !important;
	cursor: pointer;
}


iframe {
	border-width:0px;
	width:100vw;
	height:100%;
}

.extension-bot-menu-btn{
	width:400px;
	margin-left:25px;
	margin-right:25px;
	height:200px;
	background-color:#23272a;
	border-radius:10px;
	margin-top:20px;
	float: left;
	transition:0.5s;
	overflow:hidden;
	position:relative;
	cursor: pointer;
	transition:0.5s;
}


.extension-bot-menu-btn:hover{
	background-color:#222427
}

.tremble {
	animation-iteration-count: infinite;
  	animation-direction: alternate;
	animation-duration: 0.3s;
	animation-name: trembleAnimation;
  }
  
  @keyframes trembleAnimation {
	from {
	  	transform:rotate(0deg);
	}
	25%{
		transform:rotate(3deg);
	}
	75%{
		transform:rotate(-3deg);
	}
	to {
		transform:rotate(0deg);
	}
  }

  #fixed-section{
	  
	position: absolute;
    width: 100vw;
    height: 0px;
	align-items:unset;
  }

#indicator-active-mode{
	padding: 10px 10px 10px 16px;
	width:500px;
	height:56px;
	background-color: rgba(32, 34, 37, 0.9);
	border-radius:5px;
	margin-top:100vh;
	transition: 0.5s;
	font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#indicator-active-mode.active{
	transform: translateY(-66px);
}

.extension-bot-menu-btn label{
	position:absolute;
	margin-top:225px;
	margin-left:355px;
}

.extension-bot-menu-btn span{
	border-radius:50%;
	width:10px;
	height:10px;
	margin-top:10px;
	position:absolute;
	margin-left:10px;
	background-color:red;
	display:none;
}

.extension-bot-menu-btn span{
	border-radius:50%;
	width:10px;
	height:10px;
	margin-top:10px;
	position:absolute;
	margin-left:10px;
	background-color:red;
	display:none;
}

.extension-bot-menu-btn.inactive span{
	display:block;
}

.extension-bot-menu-btn-no-color{
	border:dashed;
	background-color:#23272a;
}

.extension-available-menu-btn div{
	width:200px;
}

.extension-bot-menu-btn img{
	width:100px;
	margin-top:50px;
	position:absolute;
}

.extension-bot-menu-btn div{
	position:absolute;
	margin-left:110px;
	width:290px;
}

.extension-bot-menu-btn h3{
	width:290px;
	text-align: left;
	color:white;
	margin-top:40px;
}


.extension-bot-menu-btn-no-color h3{
	color:white;
	position:absolute;
	margin-top:80px;
	margin-left:110px;
}

.extension-bot-menu-btn p{
	width:290px;
	color:white
}

.button-center-reduce {
	width:60%;
	
}

.add-bot-img {
	width:70px;
	height:70px;
	border-radius: 50%;
	
}

.extension-available-menu-btn{
	width:100%;
	margin-top:10px;
	display:-webkit-inline-box;
	background-color: #23272a;
	border-radius: 10px;
}

.extension-available-menu-btn img{
	width:50px;
}

.extension-available-menu-btn div{
	width:265px;
}

.extension-available-menu-btn p{
	color:white;
}

.extension-available-menu-btn h3{
	text-align:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	color:white;
}



#bot-heberg-div{
	width:100vw;
	height:100px;
	background-color:#23272a;
}

#bot-heberg-div img{
	height:70px;
	margin-top:15px;
	position:absolute;
	margin-left:80px;
}

#bot-heberg-div h3{
	position:absolute;
	margin-left:165px;
	margin-top:30px;
	color:white;
}

#bot-heberg-div div button{
	width:120px;
	height:60px;
	margin-top:20px;
	margin-right:10px;
}

#bot-heberg-div div{
	position:absolute;
	text-align:right;
	width:100vw;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgb(52, 201, 47);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px rgb(52, 201, 47);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
  }
  
  .slider.round {
	border-radius: 22px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
   .inactive p{
		text-decoration: line-through;
	}
	.inactive h3{
		text-decoration: line-through;
	}

  
   
.main-menu-button {
	background-color:#4e4e4e;
	border-radius:5px;
	color:white;
	width:60%;
	margin-left:20%;
	height:50px;
	margin-top:20px;
	cursor: pointer;
}

.sub-menu-button {
	background-color:#4e4e4e;
	border-radius:5px;
	color:white;
	width:20%;
	margin-left:20%;
	height:50px;
	margin-top:20px;
	cursor: pointer;
}

.sub-menu-button img{
	height:40px !important;
	position:absolute !important;
	width:unset !important;
	margin-left:5px !important;
	margin-top:5px;
	border-radius:unset !important;
}

#main-menu-quit-button{
	cursor:pointer;
}

#main-menu-button-activation{
	cursor:pointer;
}

.main-menu-button img{
	height:40px !important;
	position:absolute !important;
	width:unset !important;
	margin-left:5px !important;
	margin-top:5px;
	border-radius:unset !important;
}

.main-menu-button h4{
	height: 50px;
    position: absolute;
    margin-left: 40px;
    width: 130px;
	text-align: center;
	margin-top:10px;
}

.token-modify-input{
	width:60%;
	margin-left:20%;
	text-align:center;
}

.token-modify-input{
	margin-bottom: 30px;
}

#botActiveMenuSection img{
	width:40%;
	margin-left:30%;
	border-radius:50%;
}

#botActiveMenuSection h3{
	width:100%;
	text-align:center;
}

h3 {
	text-align:center;
}

.txt3 {
	font-size: 11px;
	color: white;
	text-align: left;
  }