:root {

	/* body */
	--body-bg-color: #2c2f33; /* #2c2f33 */
	--body-margin: 0; /* 0 */
	--body-font-family: ; /*  */

	/* Loading section */
	--loading-bg-img: url("../files/images/background.png"); /* url("../files/images/background.png") */
	--loading-bg-repeat: repeat; /* repeat */
	--loading-bg-size: cover; /* cover */
	--loading-bkp-filter: blur(5px);

	/* loading section title */
	--loading-title-transition: 0.7s; /* 0.7s */
	--loading-title-mgt: 20vh; /* 20vh */
	--loading-title-opacity: 0; /* 0 */

	/* a */
	--a-padding: 7px; /* 7px */

	/* white */
	--white-color: white;

	/* title */
	--title-color: white; /* white */
	--title-size: 35px; /* 35px */
	--title-weigth: normal; /* normal */
	--title-align: center; /* center */
	--title-line-height: 35px; /* 35px */
	--title-font-family: Arial, Helvetica, sans-serif; /* Arial, Helvetica, sans-serif */

	/* download title */
	--download-title-size: 20px; /* 20px */
	--download-title-align: center; /* center */
	--download-title-font-family: Arial, Helvetica, sans-serif; /* Arial, Helvetica, sans-serif */
	--download-title-color: white; /* white */
	--download-title-size: 1; /* 1 */

	/* subtitle */
	--subtitle-color: rgb(211, 209, 209); /* rgb(211, 209, 209) */
	--subtitle-size: 20px; /* 20px */
	--subtitle-align: center; /* center */
	--subtitle-font-family: Arial, Helvetica, sans-serif; /* Arial, Helvetica, sans-serif */

	/* sidenav */
	--sidenav-width: 300px; /* 300px */
	--sidenav-bg-color: #2f3136; /* #2f3136 */
	--sidenav-transition: 0.5s; /* 0.5s */
	--sidenav-postion: absolute; /* absolute */
		/* close */
		--sidenav-width-close: -300px; /* -300px */
		/* open */
		--sidenav-width-open: 0px; /* 0px */

	/* liste */
	--list-bg-color: #2c2f33; /* #2c2f33 */
	--list-bg-img: ; /*  */

	/* section */
	--section-position: absolute; /* absolute */
	--section-transition: 1s; /* 1s */

	/* center */
	--center-display: flex; /* flex */
	--center-justify-content: center; /* center */
	--center-align-items: center; /* center */

	/* bots placement */
	--bots-pl-width: 90%; /* 90% */
	--bots-pl-mgl: 5%; /* 5% */

	/* bot menu btn */
	--bot-btn-width: 100px; /* 100px */
	--bot-btn-height: 150px; /* 150px */
	--bot-btn-border-r: 10px; /* 10px */
	--bot-btn-border-s: solid; /* solid */
	--bot-btn-border-color: #1b1b1b; /* #1b1b1b */
	--bot-btn-float: left; /* left */
	--bot-btn-mgr: 10px; /* 10px */
	--bot-btn-mgt: 10px; /* 10px */
	--bot-btn-bg-color: #23272a; /* #23272a */
		/* hover */
		--bot-btn-mgt_hover: 0px; /* 0px */

	/* update-extension-btn */
	--update-ext-btn-width: 60px; /* 60px */

	/* avtar */
	--avatar-border-r: 50%; /* 50% */

	/* text-color */
	--text-color-color: white; /* white */

	/* bot-menu-btn div img */
	--bot-btn-img-width: 50px;
	--bot-btn-img-height: 50px;

	/* bot-menu-btn div */
	--bot-btn-div-text-align: center;

	/* bot-menu-btn-no-color */
	--bot-btn-none-border-s: dashed;

	/* main-menu-button-activation */
	--main-btn-active-mgl: 10px; /* 10px */
	--main-btn-active-mgt: 10px; /* 10px */
	--main-btn-active-postion: absolute; /* absolute */

	/* parameters-button-opener */
    --para-btn-open-width: 180px; /* 180px */
    --para-btn-open-heigth: 180px; /* 180px */
    --para-btn-open-mgl: 10px; /* 10px */
    --para-btn-open-border-r: 10px; /* 10px */
    --para-btn-open-border: 1px solid #191c1f; /* 1px solid #191c1f */
    --para-btn-open-bg-color: #23272a; /* #23272a */
    --para-btn-open-float: left; /* left */

    /* parameters-button-opener p */
    --para-btn-open-p-color: white; /* white */
    --para-btn-open-p-txt-align: center; /* center */
    --para-btn-open-p-fs: 20px; /* 20px */
    --para-btn-open-p-mgt: 20px; /* 20px */

    /* parameters-button-opener img */
    --para-btn-open-img-width: 80px; /* 80px */
    --para-btn-open-img-mgt: 5px; /* 5px */

    /* black-blur-background */
    --black-blur-bg-position: fixed; /* fixed */
    --black-blur-bg-transition: 1s; /* 1s */
    --black-blur-bg-opacity: 0; /* 0 */
    --black-blur-bg-display: none; /* none */
    --black-blur-bg-bg-color: black; /* black */

    /* add-bot-section */
    --add-bot-section-position: fixed;
    --add-bot-section-display: none;

    /* add-bot-div */
    --add-bot-div-position: absolute; /* absolute */
    --add-bot-div-mgt: 250px; /* 250px */
    --add-bot-div-opacity: 0; /* 0 */
    --add-bot-div-bg-color: #36393f; /* #36393f */
    --add-bot-div-border-r: 10px; /* 10px */
    --add-bot-div-transition: 0.8s; /* 0.8s */

    /* uninstall-extension-main-div */
    --uninstall-extension-position: absolute; /* absolute */
    --uninstall-extension-width: 400px; /* 400px */
    --uninstall-extension-mgt: 250px; /* 250px */
    --uninstall-extension-opacity: 0; /* 0 */
    --uninstall-extension-bg-color: #36393f; /* #36393f */
    --uninstall-extension-border-r: 10px; /* 10px */
    --uninstall-extension-transition: 0.8s; /* 0.8s */

    /* delete-bot-main-div */
    --delete-bot-position: absolute; /* absolute */
    --delete-bot-width: 400px; /* 400px */
    --delete-bot-mgt: 250px; /* 250px */
    --delete-bot-opacity: 0; /* 0 */
    --delete-bot-bg-color: #36393f; /* #36393f */
    --delete-bot-border-r: 10px; /* 10px */
    --delete-bot-transition: 0.8s; /* 0.8s */

    /* footer */
    --footer-mgt: 16px; /* 16px */
    --footer-txt-align: right; /* right */
    --footer-display: flex; /* flex */
    --footer-flex-direction: row-reverse; /* row-reverse */
    --footer-border-r: 0px 0px 5px 5px; /* 0px 0px 5px 5px */
    --footer-bg-color: #2f3136; /* #2f3136 */
    --footer-padding: 15px; /* 15px */

    /* connect-btn */
    --connect-btn-opacity: 1; /* 1 */
    --connect-btn-transition: 0.2s; /* 0.2s */

    /* disappear */
    --disappear-opacity: 0!important; /* 0!important */

    /* connect-title */
    --connect-title-mgt: 20vh; /* 20vh */
    --connect-title-mgb: 10vh; /* 10vh */

    /* connect-section */
    --connect-section-width: 100vw; /* 100vw */
    --connect-section-height: 100vh; /* 100vh */
    --connect-section-txt-align: center; /* center */
    --connect-section-position: absolute; /* absolute */

    /* input-group-text */
    --input-group-text-bg-color: #25282b; /* #25282b */
    --input-group-text-border-color: #16191b; /* #16191b */
    --input-group-text-color: white; /* white */

    /* .form-control:disabled, .form-control[readonly] */
    --form-control_disabled-bg-color: #202225; /* #202225 */

    /* form-control */
    --form-control-color: #dcddde; /* #dcddde */
    --form-control-bg-color: #202225; /* #202225 */
    --form-control-border-color: #191c1f; /* #191c1f */
        /* focus */
        --form-control_focus-color: #dcddde; /* #dcddde */
        --form-control_focus-bg-color: #202225; /* #202225 */

	/* extension-in-line */
	--extension-line-width: 100%; /* 100% */
	--extension-line-padding: 5px; /* 5px */
	--extension-line-display: flex; /* flex */
	--extension-line-bg-color: #191c1f; /* #191c1f */
	--extension-line-mgb: 5px; /* 5px */

	/* .extension-in-line .left-part */
	--extension-line-left-flex: 1; /* 1 */

	/* extension-in-line button */
	--extension-line-button-padding: 3px; /* 3px */
	--extension-line-button-mgb: 5px; /* 5px */
	--extension-line-button-width: 110px; /* 110px */

	/* extension-in-line p */
	--extension-line-p-color: white; /* white */
	--extension-line-p-display: unset; /* unset */

	/* extension-in-line img */
	--extension-line-img-heigth: 72px; /* 72px */

	/* update-extension-section */
	--update-extension-section-position: fixed; /* fixed */
	--update-extension-section-z-index: 3; /* 3 */
	--update-extension-section-display: none; /* none */
	--update-extension-section-width: 100vw; /* 100vw */
	--update-extension-section-height: 100vh; /* 100vh */

	/* uninstall-extension-section */
	--uninstall-extension-section-position: fixed; /* fixed */
	--uninstall-extension-section-z-index: 3; /* 3 */
	--uninstall-extension-section-display: none; /* none */
	--uninstall-extension-section-width: 100vw; /* 100vw */
	--uninstall-extension-section-height: 100vh; /* 100vh */

	/* delete-bot-section */
	--delete-bot-section-position: fixed; /* fixed */
	--delete-bot-section-z-index: 3; /* 3 */
	--delete-bot-section-display: none; /* none */
	--delete-bot-section-width: 100vw; /* 100vw */
	--delete-bot-section-height: 100vh; /* 100vh */

	/* add-extension-section */
	--add-extension-section-position: fixed; /* fixed */
	--add-extension-section-z-index: 3; /* 3 */
	--add-extension-section-display: none; /* none */
	--add-extension-section-width: 100vw; /* 100vw */
	--add-extension-section-height: 100vh; /* 100vh */

	/* popup-div */
	--popup-div-z-index: 5; /* 5 */
	--popup-div-position: absolute; /* absolute */
	--popup-div-width: 400px; /* 400px */
	--popup-div-height: 600px; /* 600px */
	--popup-div-mgt: 250px; /* 250px */
	--popup-div-opacity: 0; /* 0 */
	--popup-div-bg-color: #2c2f33; /* #2c2f33 */
	--popup-div-border-r: 10px; /* 10px */
	--popup-div-transition: 0.8s; /* 0.8s */

	/* popup-long-div */
	--popup-long-div-z-index: 5; /* 5 */
	--popup-long-div-position: absolute; /* absolute */
	--popup-long-div-width: 600px; /* 600px */
	--popup-long-div-height: 600px; /* 600px */
	--popup-long-div-mgt: 250px; /* 250px */
	--popup-long-div-opacity: 0; /* 0 */
	--popup-long-div-bg-color: #2c2f33; /* #2c2f33 */
	--popup-long-div-border-r: 10px; /* 10px */
	--popup-long-div-transition: 0.8s; /* 0.8s */

	/* popup-div h3 */
	--popup-div-h3-text-align: center; /* center */
	--popup-div-h3-mgt: 10px; /* 10px */
	--popup-div-h3-mgl: 10px; /* 10px */

	/* add-extension-confirmation-div */
	--add-extension-conf-display: none; /* none */
	--add-extension-conf-position: absolute; /* absolute */
	--add-extension-conf-width: 400px; /* 400px */
	--add-extension-conf-height: 250px; /* 250px */
	--add-extension-conf-mgt: 250px; /* 250px */
	--add-extension-conf-opacity: 0; /* 0 */
	--add-extension-conf-bg-color: white; /* white */
	--add-extension-conf-border-r: 10px; /* 10px */
	--add-extension-conf-transition: 0.8s; /* 0.8s */

	/* add-extension-confirmation-div h3 */
	--add-extension-conf-h3-text-align: center; /* center */
	--add-extension-conf-h3-mgt: 10px; /* 10px */

	/* add-extension-confirmation-div p */
	--add-extension-conf-p-text-align: center; /* center */
	--add-extension-conf-p-mgt: 10px; /* 10px */

	/* bot-extensions-list */
	--bot-extensions-list-height: 590px; /* 590px */
	--bot-extensions-list-overflow-y: scroll; /* scroll */
	--bot-extensions-list-bg-color: #2c2f33; /* #2c2f33 */

	/* context-menu */
	--context-menu-postion: fixed; /* fixed */
	--context-menu-width: 150px; /* 150px */
	--context-menu-bg-color: #191c1f; /* #191c1f */
	--context-menu-border-r: 5px; /* 5px */
	--context-menu-padding: 10px; /* 10px */
	--context-menu-z-index: 5; /* 5 */

	/* context-menu-div div */
	--context-menu-div-width: 100%; /* 100% */
	--context-menu-div-color: white; /* white */
	--context-menu-div-padding: 10px; /* 10px */
	--context-menu-div-border-r: 5px; /* 5px */

	/* context-menu-div div:hover */
	--context-menu-div_hover-width: 100%; /* 100% */
	--context-menu-div_hover-color: white; /* white */
	--context-menu-div_hover-cursor: pointer; /* pointer */
	--context-menu-div_hover-bg-color: #6274b8; /* #6274b8 */

	/* context-menu-div .red */

}
